*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


body{

    background-image: url("IMG_2546.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

.coffee{


    padding: 10px;
    font-family: 'Special Elite', cursive;
    color:#c7ad9d;


}
#coffeeHeader{
    background-image:url("fancycoffee.PNG");
    height:750px;


}
#filterSearch{
    color: #c7ad9d;
    font-family: 'Special Elite', cursive;

}

#submitNew {
    background-color: #c7ad9d;
}