*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


body{

    background-image: url("IMG_2546.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

.coffee{

    padding: 10px;
    font-family: 'Special Elite', cursive;
    color:#c7ad9d;


}

#filterSearch{
    color: white;
    font-family: 'Special Elite', cursive;

}

.pickNav {
    background-color:transparent;
    position:absolute;
}

#Nav{
    position:absolute;

}

#submitNew {
    background-color: #c7ad9d;
}

#submitNew:hover {
    background-color: tan;
}
#submitNew:active {
    background-color: grey;
}

.navPick{
    color:white;
    font-family: 'Special Elite', cursive;

}

.headImg {
    height: 650px;
    width: 100%;
    border: solid grey 5px;
    border-radius: 50%;
}

#navText {
    font-size: 1.9em;
    font-weight: bold;
}

#navText:hover {
    color: #c7ad9d;
}
#navText:active {
    color: grey;

}